#introduction {
    margin-top: 100px;
    min-width: 800px;
    width: 80%;
    float: left;
}
#introTitle {
    position: relative;
    margin-bottom: -8px;
    opacity: 95%;
}
#introTitle span {
    transition-duration: 500ms;
}
#introTitle span:hover {
    opacity: 10%;
    transition-duration: 1000ms;
}
#irlName {
    position: absolute;
    color: #6b05ad;
    margin: 0;
}
#pronouns {
    margin: 0;
    font-size: 14px;
}
#profilePicture {
    float: left;
    max-height: 200px;
    max-width: 200px;
    height: auto;
    width: auto;
    
}
#aboutMeTitle {
    margin-bottom: -10px;
}
#contacts {
    clear: both;
    width: 100%;
    text-align: center;
}
#email:after {
    color: #6b05ad;
    cursor: copy;
}
#email.copyable:hover:after {
    content: " TitanProto@pm.me \01F4CB";
}
#email.copied:hover:after {
    content: " TitanProto@pm.me \2714";
    cursor: default;
}
#discord:after {
    color: #6b05ad;
    cursor: copy;
    text-decoration: none;
}
#discord.copyable:hover:after {
    content: " titanproto \01F4CB";
}
#discord.copied:hover:after {
    content: " titanproto \2714";
    cursor: default;
}
#badgeDiv {
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.shiftRight {
    margin-left: 200px;
}
.contactButtons {
    text-decoration: none;
    color: #9c00ad;
    transition-duration: 250ms;
}
.contactLink:hover {
    color: #6b05ad;
    transition-duration: 250ms;
}
.badges {
    height: 31px;
    width: 88px;
}


h1 {
    font-family: 'Flexi IBM VGA False', monospace;
}
body {
    background-color: #1d0030;
    /* background-color: black; */
    background-image: radial-gradient(
        #1d0030, black 250%
    );
    height: 100vh;
    color: white;
    font-family:'NotoEmoji-Regular', 'Courier New', monospace;
    text-shadow: 0 0 5px;
}
::selection {
    background: #00aec2;
    text-shadow: none;
}

@font-face {
    font-family: "NotoEmoji-Regular";
    src:url("fonts/NotoEmoji-Regular.ttf") format("truetype");
    size-adjust: 90%;
    unicode-range: U+2714, U+1F4CB, U+2709;
}